@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply max-w-screen overflow-x-hidden overscroll-y-none !scroll-smooth;
  }

  body {
    @apply font-primary-regular text-stone-700 antialiased bg-white;
    text-rendering: optimizeLegibility;
  }

  *,
  *::before,
  *::after {
    @apply box-border p-0 m-0;
  }

  *:focus {
    @apply outline-none;
  }

  a {
    @apply text-inherit no-underline;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-stone-950;
  }

  h2, h3, h4, h5, h6 {
    @apply text-stone-700 tracking-tight;
  }

  h1 {
    @apply font-primary-semibold text-4xl md:text-6xl leading-tight md:leading-tight;
  }

  h2 {
    @apply text-4xl leading-none md:text-5xl;
  }

  h3 {
    @apply text-[22px] md:text-3xl;
  }

  /* Primary Font - Eina04 */

  @font-face {
    font-family: Primary Light;
    src: url(../../public/fonts/primary/light.ttf);
  }

  @font-face {
    font-family: Primary Regular;
    src: url(../../public/fonts/primary/regular.ttf);
  }

  @font-face {
    font-family: Primary SemiBold;
    src: url(../../public/fonts/primary/semibold.ttf);
  }

  @font-face {
    font-family: Primary Bold;
    src: url(../../public/fonts/primary/bold.ttf);
  }
}

@layer utilities {
  .bg-gradient-primary {
    @apply bg-gradient-to-bl from-primary via-primary-light to-primary-light;
  }
}
